.footer{
<<<<<<< HEAD
background-color: #2D4262;;
position: fixed;
=======
background-color: #363237;
position: inherit;
>>>>>>> 7bab663b288a765d9b2e52e3552f293b759bd2f7
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: center;
<<<<<<< HEAD
height: 20%;
=======
height: 85%;
>>>>>>> 7bab663b288a765d9b2e52e3552f293b759bd2f7
}

.footer  h1{
    
    color: #73605B;
}

.footer .info{
display: inline-block;
}