.contact-form{
    display: table-caption;
    flex-direction: column;
    margin-left: 37em;
}

mat-card{
    background-color: lightgray
}

.text-box{
    
    overflow: auto;
}

button{
   left: 45em;
    
}