.contact-form{
    display: table-caption;
    
    margin-left: 37em;
}

.text-area{
width: 30em;
}

mat-card{
    background-color: lightgray;
    
}


button{
   left: 45em;
    
}

.navbar {
    background-color: #212121;
    color: white;
    text-align: center;
}

.nav-span {
    flex: 1 1 auto;
}
