#body {
    background-color:#73605B;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-column-gap: 250px;
    grid-row-gap: 100px;
    background-color: #73605B;
    justify-content: start;
}

.mat-toolbar-row {
    justify-content: center;
    background-color: #D09683;
    color: #2D4262;
}

.second-toolbar {
    grid-column: 1/4;
    grid-row:2/3;
    min-height:100%;
    justify-content: center
}

.artist-card {
    width: 250px;
    border-radius: 30px;
    background-color: #2D4262;
}

.mat-card-actions {
    align-content: center;
}

.LMavatar {
    background-image: url('https://i.ytimg.com/vi/iRTVj9quTsQ/hqdefault.jpg');
    background-size: cover;
}

.LLavatar {
    background-image: url('http://bit.ly/2BHM85L');
    background-size: cover;
}

.ENavatar {
    background-image: url('http://bit.ly/2Bz1Or8');
    background-size: cover;
}

.RDavatar {
    background-image: url('http://bit.ly/2Aw0QN0');
    background-size: cover;
}

.LaMavatar {
    background-image: url('http://bit.ly/2ApRvIj');
    background-size: cover;
}

.KMavatar {
    background-image: url('http://bit.ly/2zOoXVV');
    background-size: cover;
}

.GMavatar {
    background-image: url('http://bit.ly/2A3iydJ');
    background-size: cover;
}

.PSavatar {
    background-image: url('http://bit.ly/2AMXzLD');
    background-size: cover;
}

.C1avatar {
    background-image: url('http://bit.ly/2jcyDDi');
    background-size: cover;
}

.KLavatar {
    background-image: url('http://bit.ly/2BIp9qT');
    background-size: cover;
}

.soundcloud-player {
    margin-left: 13.5%;
    background-color: #73605B;
}