.navbar {
    background-color: #212121;
    color: #74c6de;
    text-align: center;
}

.nav-span {
    flex: 1 1 auto;
}

p {
    color: #74c6de;
}

img {
   border-radius: 50%;
   width: 25%;
}

.artists {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-gap: 185px;
    margin-left: 500px;
}


/* .featured-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:5px;
    display:block;
}

.left-div {
    width: 80%;
    text-align: center;
     justify-content: center;
    justify-items: center; 
    float:left; 
    
    margin:5px;
    background-color: #636363;
}

.right-div {
    width: 18%;
    float: right;
    margin:5px;
    background-color: #636363;
}
/* side nav */
/* .item {
    float: left;
}

.more {
    width: 100%;
}

.people{
    display: grid; 
        
        text-align: center;
    }

    .example-container {
        width: 50%;
        height: 300px;
        /* background-color: #636363;
        color: #212121; */
      /* } */
/*       
      .example-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
      
      .example-sidenav {  
        padding: 20px;
        background-color:#212121;
        color: #74c6de;
        
      }

.feat-artist-card {
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: #636363;
    display: grid;
}
mat-card-header {
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size:50px;
    text-align: left;
    margin-left:0.5em;
}

p{
    text-align: center;
}

.feat-artist-div {
    margin: auto;
    text-align: center;
    float:left;
    width:100;
    margin-left:3em;
    
}

mat-card {
    text-align: center;
    width:100;
    justify-content: center;
    justify-items: center;
    background-color: #636363;

}

mat-card-content {
    display:flex;
    text-align: center;
    
}

mat-card-header {
    color: #74c6de;
}

mat-card-title {
    display:block;
    color: #74c6de;
}



.artists-container {
    display:block;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
    
}

.spotify-container {
    display:block;
    width:100%;
    display:flex;
    height:20%;
    color: #636363;
}

.spotify-player {

    margin: 5px;
    display: block;
    width: 250px;
} */




/*
#body {
    background-color:#73605B;
}
*/

/*


.twitter {
    float: right;

}

.mat-toolbar-row {
    justify-content: center;
    background-color: #D09683;
    color: #2D4262;
}
*/
/*
.second-toolbar {*/
    /* autoprefixer: off */
   /* grid-column: 1/4;
    grid-row:2/3;
    min-height:100%;
    justify-content: center
} */

/*.LLcard {*/
    /* autoprefixer: off */
   /* grid-column: 2;
    grid-row: 3;

}

.artist-card {
    width: 250px;
    border-radius: 30px;
    background-color: #2D4262;
}


.mat-button {
    align-content: center;
}

.LMavatar {
    background-image: url('https://i.ytimg.com/vi/iRTVj9quTsQ/hqdefault.jpg');
    background-size: cover;
}

.LLavatar {
    background-image: url('http://bit.ly/2BHM85L');
    background-size: cover;
}

.ENavatar {
    background-image: url('http://bit.ly/2Bz1Or8');
    background-size: cover;
}

.RDavatar {
    background-image: url('http://bit.ly/2Aw0QN0');
    background-size: cover;
}

.LaMavatar {
    background-image: url('http://bit.ly/2ApRvIj');
    background-size: cover;
}

.KMavatar {
    background-image: url('http://bit.ly/2zOoXVV');
    background-size: cover;
}

.GMavatar {
    background-image: url('http://bit.ly/2A3iydJ');
    background-size: cover;
}

.PSavatar {
    background-image: url('http://bit.ly/2AMXzLD');
    background-size: cover;
}

.C1avatar {
    background-image: url('http://bit.ly/2jcyDDi');
    background-size: cover;
}

.KLavatar {
    background-image: url('http://bit.ly/2BIp9qT');
    background-size: cover;

}

.soundcloud-player {
    margin-left: 13.5%;
    background-color: #73605B;
}

.button-div {
    text-align: center;
}

 */