
<div id='body'>
    <mat-toolbar style='color: #D09683'>
        <mat-toolbar-row>
            <span class="feature">Featured Artists</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- <mat-card *ngFor="let artist of artists" class='artist-card'>
    <ng-container>
        <mat-card-header>
            <div mat-card-avatar class="avatar"> {{ artist.avatar }} </div>
            <mat-card-title> {{ artist.artistName }} </mat-card-title>
            <mat-card-subtitle> {{ artist.genre }} </mat-card-subtitle>
        </mat-card-header>
    </ng-container>
</mat-card> -->

    <div class="container">
        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="LMavatar"></div>
                <mat-card-title>Love Moor</mat-card-title>
                <mat-card-subtitle>R&B</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2kqSz94" alt="Love Moor photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="KLavatar"></div>
                <mat-card-title>Kenny Loften</mat-card-title>
                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2BIp9qT" alt="Kenny Loften photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="ENavatar"></div>
                <mat-card-title>Eugenius Neutron</mat-card-title>
                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2nARI6W" alt="Eugenius photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <mat-toolbar class="second-toolbar" style='color: #D09683'>
        <mat-toolbar-row>
            <span>Artists</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="RDavatar"></div>
                <mat-card-title>Richard Daniel</mat-card-title>
                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2BRWlMP" alt="Richard photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="LaMavatar"></div>
                <mat-card-title>Lauren Michel</mat-card-title>
                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2BFS26D" alt="Lauren photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="GMavatar"></div>
                <mat-card-title>G.I. Magus</mat-card-title>
                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2ABN5w5" alt="G.I. photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="KMavatar"></div>

                <mat-card-title>K.L.U.B. Monsta</mat-card-title>

                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2jmMeIl" alt="Klub Monsta photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="PSavatar"></div>
                <mat-card-title>Phrasure</mat-card-title>
                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2AXat9X" alt="Phrasure photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="artist-card">
            <mat-card-header>
                <div mat-card-avatar class="C1avatar"></div>
                <mat-card-title>C1ub:A.M.</mat-card-title>
                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://bit.ly/2k2SlAT" alt="C1ub:A.M. photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="artist-card LLcard">

            <mat-card-header>
                <div mat-card-avatar class="LLavatar"></div>
                <mat-card-title>Lovelight The Messenger</mat-card-title>
                <mat-card-subtitle>Hip-Hop</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://files.slack.com/files-pri/T5QB8JC78-F8C9DESQP/image.png" alt="Lovelight photo">
            <mat-card-actions>
                <button mat-button routerLink="/single-artist">Profile</button>
                <button mat-button routerLink="/shows">Shows</button>
            </mat-card-actions>
        </mat-card>

    </div>
    <br>
    <mat-toolbar style='color: #D09683'>
        <mat-toolbar-row>
            <span class="feature">Popular Tracks</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/337398681&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/24392300&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/322066585&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/284643272&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/275709873&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/124611246&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/297215255&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/229019948&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/265007682&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    <iframe class='soundcloud-player' width="25%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/21143935&amp;color=%235c5c5c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>






<!-- <soundcloud [artistId]="{{ artist.soundcloudId }}"></soundcloud> -->

<!-- <div>
        <a class="twitter-timeline" data-width="220" data-height="1000" data-theme="dark" href="https://twitter.com/Lovel1ght?ref_src=twsrc%5Etfw">Tweets by Lovel1ght</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> -->

<!-- <soundcloud [artistId]="{{ artist.soundcloudId }}"></soundcloud> -->

