.navbar{
    position: sticky;
    background-color: #2D4262;
}

h1 {
  color: #D09683;
}

.nav{
  margin: 55%;
}


/* Color Themes 
#363237 (Deep Purple), #2D4262 (Indigo), #73605B (Taupe), #D09683 (Blush) */