.navbar{
<<<<<<< HEAD
    position: sticky;
    background-color: #2D4262;
=======
    position: fixed;
    margin: -2% auto;
>>>>>>> 7bab663b288a765d9b2e52e3552f293b759bd2f7
}

h1 {
  color: #D09683;
}

.nav{
  margin: 55%;

}


/* Color Themes 
#363237 (Deep Purple), #2D4262 (Indigo), #73605B (Taupe), #D09683 (Blush) */