.venues{
    text-align: center;
    text-decoration: underline;
}

.show-card {
    margin: 0 auto;
    width: 50%;
    background-color: #636363;
    color: #14b9c5;
}

.show {
    text-align: center;
    justify-content: center;
}

.navbar {
    background-color: #636363;
    text-align: center;
}

.nav-span {
    flex: 1 1 auto;
}