.venues{
    text-align: center;
    text-decoration: underline;
}

.show-card {
    margin: 0 auto;
    width: 50%;
    background-color: #2D4262;
    color: #D09683;
}

.show {
    text-align: center;
    justify-content: center;
}