.ex{
    background-image: url('http://bit.ly/2jlzMbR');
    background-size: cover;
}

.artist-profiler{
    background-color: red;
    width: 15%;
}

.main-feed{
    left: 19%;
    background-color: darkslategrey;
    width: 50%;
    margin-top: -29%;
}

