.artist-profiler{
    background-image: url("https://t2.genius.com/unsafe/576x568/https%3A%2F%2Fimages.genius.com%2Ffd399ccf8fa0e754f2460fe5024f8a8f.1000x1000x1.jpg");
    background-size: cover;
    width: 25%;
    height: 10em;
    color: purple;
}



.bio{
    width: 25%;
}


.feed{
    width: 50%;
    margin-top: -21em;
    padding-left: 29%;
}

#head{
    font-size: 25px;
    background-color: green;
    
}

#head h1{
    text-indent: 45%;
    font-size: 25px;
}

parallax{
    background-image: url("https://t2.genius.com/unsafe/576x568/https%3A%2F%2Fimages.genius.com%2Ffd399ccf8fa0e754f2460fe5024f8a8f.1000x1000x1.jpg");
    
}
  
  .t-feed{
       width: 35%;
      /*float: right; */
  }