.artist-profiler{
    background-image: url('http://bit.ly/2jlzMbR');
    background-size: cover;
    width: 25%;
    height: 10em;
    color: purple;
}


.bio{
    width: 25%;
}

.card-feeds{

    background-color: darkslategrey;
} 

.feed{
    width: 50%;
      margin-top: -36%; 
   
}

#head{
    font-size: 25px;
    background-color: green;
    
}

#head h1{
    text-indent: 45%;
    font-size: 25px;
}
.example-card {
    width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
