
.title {
    background-color: #D09683;
    height: 50px;
    width: 100%;
    color: #2D4262;
    text-align: center;
    
}

.second-navbar {
    background-color: #2D4262 ;
    height: 50px;
    width: 100%;

}

.nav-span {
    margin: 0 auto;
}

.first-navbar {
    display: flex;
    background-color: #D09683 ;
    height: 50px;
    width: 100%;
}

.nav-buttons {
    color:#D09683;
} 

.body {
    width: 100%;
}

