<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="navbar">
        <mat-toolbar-row>
          <h1>IndieGround</h1>
        
        <span class="nav">
          <button mat-button style= 'color:#D09683'>Home</button>
          <button mat-button style= 'color:#D09683'>Artists</button>
          <button mat-button style= 'color:#D09683'>Shows</button>
          <button mat-button style= 'color:#D09683'>Contact Us</button>
        </span>
        
        </mat-toolbar-row>
      </mat-toolbar>



<img class="picture" src="https://www.pollstar.com/Image/CityPhotos/e68c9c97-6a7e-42b9-b52a-50fca57cb037-BirminghamAL_1000.jpg" alt="">

<p>Optio vitae similique, fugit nobis nihil velit obcaecati quis doloremque alias quidem, reprehenderit debitis autem a, necessitatibus iste explicabo quasi! Nemo consectetur minima molestiae adipisci ducimus ullam placeat necessitatibus cumque!
Facilis, asperiores! Nulla velit nobis quo optio? Nam, pariatur quod praesentium aperiam maiores veritatis in asperiores illo fugit id quaerat accusantium at placeat ad repellat, debitis quas porro nulla eaque.
Voluptate culpa nobis possimus ducimus, illum natus, eius mollitia eligendi expedita ipsum iure? Dignissimos eveniet sunt vero iste quis, aliquid repudiandae explicabo magni minus, totam neque aspernatur impedit et velit.
Dolor, sequi placeat exercitationem expedita alias laboriosam minima porro vel. Pariatur autem reiciendis fugiat optio iusto sed, non quam, earum nemo, laudantium perspiciatis. Esse iste eveniet officiis, ipsum quis laudantium.
Nobis dolorem reiciendis cupiditate at, temporibus suscipit quos quis neque aperiam ipsum sapiente optio tempore dolor, deserunt pariatur ea nesciunt, blanditiis voluptatem quae. Dolorem maiores voluptatibus numquam tempore ab earum.
Assumenda inventore nesciunt iste, nam natus repellat a quasi at odio eos omnis nemo distinctio, sit accusantium quaerat unde in. Dolore alias repellendus est dolor dolorem. Harum exercitationem ex reiciendis!
Unde quas fugit rem, voluptas eius, facilis corporis laudantium laboriosam perspiciatis, nobis eveniet! Esse repudiandae ea accusamus, accusantium maxime voluptatum enim aliquam provident, modi rem quos consectetur ullam excepturi possimus?
Explicabo neque voluptatum vel dolores, nulla adipisci consequatur fugiat deleniti consectetur inventore doloribus, optio ducimus dolor. Ipsa sequi, magnam similique ratione recusandae est nisi, illum atque nihil laudantium, consectetur mollitia.
Assumenda illo maiores ipsam autem rem eos? Ipsam omnis aliquid optio at! Vero vel laborum, assumenda ipsum nisi laudantium molestias quibusdam sapiente expedita quos dolorem exercitationem earum excepturi nam nostrum.
Quasi autem a possimus quam aperiam, quas neque ducimus harum illum quisquam modi veniam sequi nemo eveniet tempore, esse minima odit non ratione consequuntur iure commodi iste error? Iure, eum.
Rerum, exercitationem. Sunt, autem laboriosam aliquid pariatur repudiandae doloribus in fugiat vero adipisci quia exercitationem id omnis quo sapiente consectetur, inventore corporis nostrum. Dolor doloremque similique labore officia eligendi hic.
Inventore sequi eum dolorem earum vero vel quaerat at quod sed? Tenetur accusantium vitae, eveniet incidunt eaque reiciendis voluptate harum sapiente maxime non necessitatibus rem sint soluta nostrum accusamus eos.
Non possimus hic quia nulla, aspernatur quas tempora asperiores quisquam, quibusdam voluptatibus explicabo. Quibusdam eligendi earum ab odit accusamus totam, tempore voluptas magni inventore neque minima culpa assumenda eaque nesciunt.
Debitis labore consequuntur rem ab deleniti dolores provident, repudiandae quidem. Accusamus incidunt doloribus minima ipsam dolor, vitae fuga impedit doloremque officiis nostrum quasi quidem expedita molestiae cumque officia non id!
Itaque perferendis fugiat modi minima magni dolorem soluta aut, illo dolorum iste expedita voluptate minus, similique, blanditiis ullam hic! Excepturi libero incidunt voluptatum tenetur, placeat repellendus sunt quia numquam nihil!
Voluptate fuga, culpa voluptates placeat accusamus dolores quaerat at libero iure autem dicta soluta magnam, aperiam rem nam perferendis adipisci possimus odit a eaque. Optio consequatur omnis rem facere nisi?
Odio quasi nemo voluptatibus ullam, eaque consequuntur expedita suscipit distinctio, ducimus veritatis vitae amet nesciunt magnam facilis libero possimus ipsam, voluptatum ea consequatur sequi. Minima perspiciatis eum maxime blanditiis aliquam.
Inventore ea explicabo velit, itaque culpa, sequi mollitia aliquam esse est aliquid unde id error obcaecati similique debitis? Quis ipsum consequatur debitis reiciendis fugiat quia earum numquam dolorum? Accusamus, itaque!
Ab corporis cumque, et aspernatur praesentium eius. Tempora aliquid deleniti ex. Tempore unde aliquam laudantium voluptate possimus sit. Perferendis quod repellat placeat animi minima. Accusantium ullam debitis delectus minus quis.
Tenetur qui dolores ipsam. Eius repudiandae repellat fugit ratione inventore eos esse suscipit quis illo eum, similique veritatis sint laudantium assumenda. Iure quasi dolorem laudantium, quas inventore consectetur ipsam natus!
Et natus beatae corporis mollitia, magni quos deleniti incidunt vitae aspernatur dolores aut labore ab blanditiis, perferendis rerum commodi voluptate exercitationem excepturi. Laborum natus, iste magni incidunt non et totam?
Dignissimos eius explicabo quo unde vero perferendis eaque recusandae alias obcaecati. Optio, facere. Corporis voluptatem exercitationem odit, facere, praesentium veritatis facilis quaerat, molestias maxime aut dolores! Accusantium dolor harum eaque!
Harum sint consequatur praesentium aperiam impedit hic id, distinctio alias sit dolores error rerum quos animi et esse pariatur dolor atque sunt quia quo eum tempora officiis. Autem, commodi pariatur.
Excepturi quis repellat labore debitis, rerum fugit nam dolor cumque deserunt asperiores qui sunt at, laboriosam, quod dignissimos ipsa voluptates suscipit molestiae ipsum assumenda. Enim rerum ab voluptas ducimus voluptatem!
Sint porro vero doloremque nulla ex culpa illum voluptatum iste labore id dolores distinctio, vitae quo, minus alias nobis fugit quia dicta repudiandae expedita. Mollitia ratione tenetur incidunt quaerat in?
Nihil ab quisquam vero, non beatae vel quasi, sunt harum perferendis sed atque exercitationem nam. Hic cupiditate perferendis ipsam, aut illum quibusdam ipsa doloribus vitae excepturi, enim repellendus ducimus asperiores.
Illo architecto nostrum, quis nam reprehenderit ex accusamus obcaecati, officiis neque, magni dignissimos! Ipsa, voluptates veniam libero, sapiente optio modi quo deserunt eum explicabo ipsam eius atque suscipit exercitationem rem.
Ducimus laborum odit natus debitis aliquam eos fugit dolorem voluptate esse similique dolorum, rerum beatae voluptas, amet ea perspiciatis dolor nisi ad vitae? Dolorem optio ut architecto aut dignissimos eos?</p>
<mat-toolbar class="footer" >

  <mat-toolbar-row class="info">
    <h1>IndieGround
      <br>
      <i class="material-icons">copyright</i>
    </h1>
    <h1>2017</h1>

    <h1>Developers:
      <br> LoveLight Cross, Brandon Pickens, Zaytoven Bryant-S..
    </h1>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>