<mat-toolbar class="navbars">
  <mat-toolbar-row class="first-navbar">
    <span class="title">IndieGround Music</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="second-navbar">
    <span class="nav-span">
      <button mat-button class="nav-buttons" routerLink='/'>Home</button>
      <button mat-button class="nav-buttons" routerLink='/artists'>Artists</button>
      <button mat-button class="nav-buttons" routerLink='/music'>Music</button>
      <button mat-button class="nav-buttons">Shows</button>
      <button mat-button class="nav-buttons" routerLink='/contact-us'>Contact Us</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="footer">
  <p>&copy; IndieGround Entertainment</p>
</div>


