
.title {
    background-color: #212121;
    height: 50px;
    width: 100%;
    color: #74c6de;
    text-align: center;
    margin-top: 12px;
}

.second-navbar {
    background-color: #636363;
    height: 3em;
    width: 100%;

}

.mat-toolbar-multiple-rows {
    min-height: none !important;
}

.nav-span {
    margin: 0 auto;
}

.first-navbar {
    display: flex;
    background-color: #212121 ;
    height: 50px;
    width: 100%;
}

.nav-buttons {
    color:#74c6de;
} 

.body {
    width: 100%;
}

