.navbar{
    position: sticky;
    background-color: #2D4262;
}

h1 {
  color: #D09683;
}

.nav{
  margin: 55%;

}


/* Color Themes 
#363237 (Deep Purple), #2D4262 (Indigo), #73605B (Taupe), #D09683 (Blush) */

.picture{
    width: 100%;
    height: 15em;
}

.footer{
    background-color: #363237;
    position: inherit;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    height: 9em;
    }
    
    .footer  h1{
        color: #73605B;
    }
    
    .footer .info{
    display: inline-block;
    }