<mat-toolbar class="navbar">
  <span class="nav-span">
    <button mat-button class="nav-buttons" routerLink='/'>Home</button>
    <button mat-button class="nav-buttons" routerLink='/artists'>Artists</button>
    <button mat-button class="nav-buttons" routerLink='/music'>Music</button>
    <button mat-button class="nav-buttons" routerLink='/shows'>Shows</button>
    <button mat-button class="nav-buttons" routerLink='/contact-us'>Contact Us</button>
  </span>
</mat-toolbar>
<div class='background'>
  <h1>Richard Daniel</h1>
</div>
<div class='left-div'>
  <mat-card>
    <!-- <mat-card-title>Richard Daniel</mat-card-title> -->
    <mat-card-subtitle>Hip-Hop/R&B Switchblade</mat-card-subtitle>
    <hr>
    <mat-card-subtitle>Basic Info</mat-card-subtitle>
    <mat-card-content>
      <p>Hailing from Birmingham, AL, Richard Daniel is a hip-hop artist who captures a polished delivery and combines it with
        a natural southern charm. Whether a heartfelt croon, or a fiery lyric filled verse, he showcases his personal story
        and many musical ideas through whichever avenue will have him. His latest album, “Sedan”, is a mixture of feel-good
        tracks and songs that will make you sit back and contemplate. The main goal Daniel wants to achieve through his music
        is to create something that people can use to find common ground and relate to one another.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class='feed-card'>
    <br>
    <img mat-card-image class='show-img' src='https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/23795316_1753354221342965_5274393780869227061_n.jpg?oh=8c88e4b2bd252f18fb4e969f1738346d&oe=5A90995B'>
    <p>Lobotomix 8 Year Anniversary Show</p>
    <p>Friday November 24th, at 6 PM - Until</p>
    <p>@ Saturn</p>
    <p>$12</p>
  </mat-card>
</div>

<div class='middle-div'>
  <h1 class='middle-text'>Music</h1>
  <iframe width="960" height="430" src="https://www.youtube.com/embed/58n5ckpLrWA" frameborder="0" gesture="media" allow="encrypted-media"
    allowfullscreen></iframe>
    <br>
    <br>
  <iframe width="960" height="430" src="https://www.youtube.com/embed/393yfAeLIxU" frameborder="0" gesture="media" allow="encrypted-media"
    allowfullscreen></iframe>
    <br>
    <br>
    <iframe width="960" height="430" src="https://www.youtube.com/embed/Q8c3wGZ_uts" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <!-- <mat-card class='feed-card'>
      <mat-card-subtitle>MEDIA</mat-card-subtitle>
      <img mat-card-image class='show-img' src='https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/24232264_1761581077186946_8606422101104065820_n.jpg?oh=57b8b3f9028ba2fd0273f94cc5754948&oe=5A90E60D'>
      <p>C1UB: AM just got a new shipment of C1ub hoodies! Pick one up today!</p>
      
    </mat-card> -->
</div>

<div class='right-div'>
  <mat-card>
    <div class="item twitter">
      <ng4-twitter-timeline class="timeline" [dataSrc]="{ sourceType: 'profile', screenName: '_ricardeaux' }" [opts]="{tweetLimit: 5}"></ng4-twitter-timeline>
    </div>
  </mat-card>
</div>

<!-- <div class='sc-div'>
  <iframe width="75%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/377452796&amp;color=%2300aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>

 -->




















  <!-- 
    
    
    <mat-toolbar id="head">
      <h1>Love Moor</h1>
    </mat-toolbar>
    
    
    <div class="row">
    
    
      <div class="column side">
        <mat-card class="artist-profiler">
          <mat-card-title>love moor</mat-card-title>
        </mat-card>
    
        <mat-card class="bio">
    
          <p>Basic info:</p>
          <ul>
            <li>Erica Andrew ( Born October 11, 1990), better known by her stage name Love Moor, is an American singer-songwriter.
              She was born in Brooklyn, NY, grew up in Miami , Fl , and later relocated to Birmingham, Al. Love Moor released
              her first extended play (EP), titled Blu Polka Dots, in the summer of 2015. Love Moor, through great vibes and
              beautiful energy became the first lady of Loner Dreamer Lover Rebel (LDLR) in 2014. Love Moor is a neo soul singer
              whose music can be described as Alternative R&B, with elements of soul, hip hop, minimalist R&B, a little flow,
              and some island…</li>
          </ul>
    
        </mat-card>
      </div>
    
    
      <div class="feed">
        <mat-card>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quisquam nesciunt nulla a ipsam, deleniti possimus necessitatibus
          animi cumque doloremque officia quidem numquam nemo fugiat molestias ex ipsum repellendus! Alias odio voluptatem distinctio
          consequuntur tempora aspernatur, doloremque, impedit quasi praesentium tenetur ab, veniam maxime vel labore? Ad, numquam!
          Iste minus vitae laboriosam possimus, quod dignissimos eius eligendi ipsum alias repudiandae odio molestiae provident
          ex debitis a velit exercitationem necessitatibus. Laboriosam error facilis quibusdam dolorum! Laboriosam cumque cum
          recusandae deserunt quibusdam accusantium hic impedit culpa suscipit sint repellat molestias facilis ipsam dicta, expedita
          porro qui!
        </mat-card>
        <mat-card>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quia sed voluptatibus consequuntur eveniet nisi repellat
          odit nam officia qui dolorem quidem, dolorum est, dolore repudiandae similique, rem perferendis iste asperiores? Et
          libero sunt id provident corporis nam dolores expedita quos, voluptas illum molestiae corrupti, recusandae ut iure
          doloribus optio possimus nostrum repudiandae pariatur, in dolor asperiores? Qui eum dolorum a? At recusandae quisquam
          debitis, rem reiciendis nam quibusdam architecto, corporis, earum aut tempora non. Temporibus vel consectetur quam
          fuga distinctio autem. Iste, neque consectetur tenetur asperiores obcaecati distinctio modi perspiciatis rem velit!
          Sint nobis est,
        </mat-card>
      </div>
    
      <div class="column middle">
    
    
    
    
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/35127507&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <app-dynamicplayer [artistId]="artist.soundcloudid"></app-dynamicplayer>
      </div>  -->