<mat-toolbar class="navbar">
    <span class="nav-span">
        <button mat-button class="nav-buttons" routerLink='/'>Home</button>
        <button mat-button class="nav-buttons" routerLink='/artists'>Artists</button>
        <button mat-button class="nav-buttons" routerLink='/music'>Music</button>
        <button mat-button class="nav-buttons" routerLink='/shows'>Shows</button>
        <button mat-button class="nav-buttons" routerLink='/contact-us'>Contact Us</button>
    </span>
</mat-toolbar>

<div class="background"></div>

<div class='left-div'>
    <mat-card>
      <mat-card-title>Kenny Loften</mat-card-title>
      <mat-card-subtitle>Truth For The Youth</mat-card-subtitle>
    <hr>
    <mat-card-subtitle>Basic Info</mat-card-subtitle>
    <mat-card-content>
      <p>Kenny Loften is an emerging artist in the underground scene here in Birmingham. However, he has made quite a splash ever since he announced his arrival. His first show he ever booked was just over a year ago, at Slossfest. Imagine that being your first live show! As the younger brother of local spitting legend, Haru, Kenny knows he has a high bar set for him. He's ready to meet the challange.</p>
    </mat-card-content>
    </mat-card>

    <mat-card>
        
        </mat-card>
        <mat-card class='feed-card'>
        <mat-card-subtitle >MEDIA</mat-card-subtitle>
      <img mat-card-image class='show-img' width="40px" src='https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/13483104_997548517009655_8109101762034103185_o.jpg?oh=38479c01579af6be99cefdc1743a0aaa&oe=5ABF216D'>
        <p>Listen to Kenny Loften's new track titled "Hoover Everywhere"! Link Below.</p>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/259434834&amp;color=%2300aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
      
      </mat-card>
    
      <mat-card class='feed-card'>
        <mat-card-subtitle>MEDIA</mat-card-subtitle>
        <h3>Kenny Loften at UAB</h3>
        <img mat-card-image class='show-img' width="40px" src='https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-0/c70.0.200.200/p200x200/19748727_1330274167070420_1345552617070519068_n.jpg?oh=961187b25754732283b266174ea51ff5&oe=5AB916D7'>
       
      </mat-card>
    
      
    </div>
    
    <div class='middle-div'>
        <iframe width="960" height="430" src="https://www.youtube.com/embed/HZPc93JQhJM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <br>
        <br>
        <iframe width="960" height="430" src="https://www.youtube.com/embed/sUZgnWndFWs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <br>
        <br>
        <iframe width="960" height="430" src="https://www.youtube.com/embed/_ZV7OzbeolI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    
    <div class='right-div'>
      <mat-card>
          <div class="item twitter">
              <ng4-twitter-timeline class="timeline" [dataSrc]="{ sourceType: 'profile', screenName: 'KennyLoftenTM' }" [opts]="{tweetLimit: 5}"></ng4-twitter-timeline>
          </div>
      </mat-card>
    </div>
    
    <div class='sc-div'>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- 
    
    
    <mat-toolbar id="head">
      <h1>Love Moor</h1>
    </mat-toolbar>
    
    
    <div class="row">
    
    
      <div class="column side">
        <mat-card class="artist-profiler">
          <mat-card-title>love moor</mat-card-title>
        </mat-card>
    
        <mat-card class="bio">
    
          <p>Basic info:</p>
          <ul>
            <li>Erica Andrew ( Born October 11, 1990), better known by her stage name Love Moor, is an American singer-songwriter.
              She was born in Brooklyn, NY, grew up in Miami , Fl , and later relocated to Birmingham, Al. Love Moor released
              her first extended play (EP), titled Blu Polka Dots, in the summer of 2015. Love Moor, through great vibes and
              beautiful energy became the first lady of Loner Dreamer Lover Rebel (LDLR) in 2014. Love Moor is a neo soul singer
              whose music can be described as Alternative R&B, with elements of soul, hip hop, minimalist R&B, a little flow,
              and some island…</li>
          </ul>
    
        </mat-card>
      </div>
    
    
      <div class="feed">
        <mat-card>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quisquam nesciunt nulla a ipsam, deleniti possimus necessitatibus
          animi cumque doloremque officia quidem numquam nemo fugiat molestias ex ipsum repellendus! Alias odio voluptatem distinctio
          consequuntur tempora aspernatur, doloremque, impedit quasi praesentium tenetur ab, veniam maxime vel labore? Ad, numquam!
          Iste minus vitae laboriosam possimus, quod dignissimos eius eligendi ipsum alias repudiandae odio molestiae provident
          ex debitis a velit exercitationem necessitatibus. Laboriosam error facilis quibusdam dolorum! Laboriosam cumque cum
          recusandae deserunt quibusdam accusantium hic impedit culpa suscipit sint repellat molestias facilis ipsam dicta, expedita
          porro qui!
        </mat-card>
        <mat-card>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quia sed voluptatibus consequuntur eveniet nisi repellat
          odit nam officia qui dolorem quidem, dolorum est, dolore repudiandae similique, rem perferendis iste asperiores? Et
          libero sunt id provident corporis nam dolores expedita quos, voluptas illum molestiae corrupti, recusandae ut iure
          doloribus optio possimus nostrum repudiandae pariatur, in dolor asperiores? Qui eum dolorum a? At recusandae quisquam
          debitis, rem reiciendis nam quibusdam architecto, corporis, earum aut tempora non. Temporibus vel consectetur quam
          fuga distinctio autem. Iste, neque consectetur tenetur asperiores obcaecati distinctio modi perspiciatis rem velit!
          Sint nobis est,
        </mat-card>
      </div>
    
      <div class="column middle">
    
    
    
    
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/35127507&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        <app-dynamicplayer [artistId]="artist.soundcloudid"></app-dynamicplayer>
      </div>  -->