/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* r

/* Color Themes 
#363237 (Deep Purple), #2D4262 (Indigo), #73605B (Taupe), #D09683 (Blush) */

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#style-container {
   min-height:100%;
   position:relative;
}

#body {
   padding-left:0px;
   padding-right: 0px;
   padding-bottom:0px;   /* Height of the footer */
}
#footer {
   position:relative;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#2D4262
}

#style-container {
    height:100%;
 }

.footer{
    color: #D09683;
    text-align: center;
}
