<!-- Homepage Picture -->
<body class='body'>
<img class="picture" src="http://bit.ly/2BB6Xir"
alt="Downtown Birmingham Skyline at Night">
<iframe class='soundcloud-player' width="20%" height="300" scrolling="no" frameborder="no" src="http://bit.ly/2AXOn7p"></iframe>
<div class='feed'>
    <mat-card class='feed-card'>
        <img mat-card--mat-image src='http://bit.ly/2nGRmLW'>
        <mat-card-title class='card-title'>
            This Is My First Test Feed Post
        </mat-card-title>
        <mat-card-content class='card-content'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, ab facere nihil non, unde maxime ea nemo dolore nesciunt sint esse debitis voluptatem quos ratione eaque modi? Eos ullam dolorum quas ipsa exercitationem! Voluptate nesciunt vero possimus reprehenderit sapiente.
        </mat-card-content>
    </mat-card>

    <mat-card class='feed-card'>
            <img mat-card--mat-image src='http://bit.ly/2nGRmLW'>
            <mat-card-title class='card-title'>
                This Is My First Test Feed Post
            </mat-card-title>
            <mat-card-content class='card-content'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, ab facere nihil non, unde maxime ea nemo dolore nesciunt sint esse debitis voluptatem quos ratione eaque modi? Eos ullam dolorum quas ipsa exercitationem! Voluptate nesciunt vero possimus reprehenderit sapiente.
            </mat-card-content>
        </mat-card>

        <mat-card class='feed-card'>
                <img mat-card--mat-image src='http://bit.ly/2nGRmLW'>
                <mat-card-title class='card-title'>
                    This Is My First Test Feed Post
                </mat-card-title>
                <mat-card-content class='card-content'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, ab facere nihil non, unde maxime ea nemo dolore nesciunt sint esse debitis voluptatem quos ratione eaque modi? Eos ullam dolorum quas ipsa exercitationem! Voluptate nesciunt vero possimus reprehenderit sapiente.
                </mat-card-content>
            </mat-card>
            <mat-card class='feed-card'>
                    <img mat-card--mat-image src='http://bit.ly/2nGRmLW'>
                    <mat-card-title class='card-title'>
                        This Is My First Test Feed Post
                    </mat-card-title>
                    <mat-card-content class='card-content'>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni, ab facere nihil non, unde maxime ea nemo dolore nesciunt sint esse debitis voluptatem quos ratione eaque modi? Eos ullam dolorum quas ipsa exercitationem! Voluptate nesciunt vero possimus reprehenderit sapiente.
                    </mat-card-content>
                </mat-card>
        
</div>
</body>