.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

mat-card {
    box-shadow: none;
    border-radius: 0;
}

.item {
    float: left;
}

.more {
    width: 100%;
}

.headlines {
    width: 25%;
}

.feed {
    width: 50%;
}

img {
    width: 100%;
}

.b2, player {
    width: 25%;
}

.sidenav-button-card {
    background-color: #2D4262;
}


.sidenav-button {
    background-color: white;
}
