<div class="home-group"></div>
    <div class="hero">
        <h1>INDIEGROUND</h1>
        <button class='entrance' mat-button routerLink='/artists'><p>Enter</p></button>
    </div>
    







    <!-- <div class="test-container">
        <div class="b2 player item">
            <br>
            <iframe class='soundcloud-player' width="100%" height="300" scrolling="no" frameborder="no" src="http://bit.ly/2AXOn7p"></iframe>
            <div class="b3 more item">
                    <mat-drawer-container class="example-container" autosize>
                            <mat-drawer #drawer class="example-sidenav" mode="side">
                              <p>ARTISTS</p>
                              <hr>
                              <div class="people">
                                <button mat-button routerLink='/single-artist'>Love Moor</button>
                                <button mat-button routerLink='/kenny-loften'>Kenny Loften</button>
                                <button mat-button routerLink='/single-artist'>Eugenius Neutron</button>
                                <button mat-button routerLink='/richard-daniel'>Richard Daniel</button>
                                <button mat-button routerLink='/lauren-michel'>Lauren Michel</button>
                                <button mat-button routerLink='/gi-magus'>G.I. Magus</button>
                                <button mat-button routerLink='/single-artist'>K.L.U.B. Monsta</button>
                                <button mat-button routerLink='/single-artist'>Phrasure</button>
                                <button mat-button routerLink='/club-am'>C1ub:A.M.</button>
                                <button mat-button routerLink='/single-artist'>Lovelight The Messenger</button>
                             </div>
                            </mat-drawer>
                          
                            <div class="example-sidenav-content">
                                <p>Want To See and Hear More?</p>
                              <button type="button" mat-button (click)="drawer.toggle()">
                                Click Here
                              </button>
                            </div>
                          
                          </mat-drawer-container>
            </div>
        </div>
        <div class="b4 feed item">
            <mat-card class='feed-card'>
                <div class="feed-card-background" style="background-image: url('http://bit.ly/2ynqa4R')"></div>
                <mat-card-title class='card-title'>
                    G.I Magus "The Gold"
                </mat-card-title>
                <mat-card-content class='card-content'>
                    Positive HipHop artist "G.I Magus" 
                </mat-card-content>
            </mat-card>

            <mat-card class='feed-card'>
                    <div class="feed-card-background" style="background-image: url('http://bit.ly/2ynhhrW')"></div>
                <mat-card-title class='card-title'>
                    @lovemooreson X Suaze "Simp Girl" 
                </mat-card-title>
                <mat-card-content class='card-content'>
                    Love Moor's "Simp Girl" is a amazing trip into the emotional aesthetic of a woman's perspective. With Robot House producer Suaze working his magic, it covers all aspects with the perfect mix of melody & boom-bap.
                </mat-card-content>
            </mat-card>

            <mat-card class='feed-card'> -->
    <!-- <img mat-card--mat-image src='http://bit.ly/2nGRmLW'> -->
    <!-- <mat-card-title class='card-title'>
                    Check out "Eulogies" produced by @ktgotbeats & filmed by @jackmakemovies
                </mat-card-title>
                <mat-card-content class='card-content'>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jHR83IXL4L8?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </mat-card-content>
            </mat-card>

            <mat-card class='feed-card'>
                <img mat-card--mat-image src='http://bit.ly/2nWdQbO'>
                <mat-card-title class='card-title'>
                    @C1UBAM is approaching a new season in music and making major waves as their single "LAST-WORDZ" turns heads.
                </mat-card-title>
                <mat-card-content class='card-content'>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/BoBQVLGeyj4?ecver=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                        
                </mat-card-content>
            </mat-card>
        </div>
        <div class="b5 headlines item">
            <mat-card class='headline-card'>
                <mat-card-title class="card-title">Top Headlines</mat-card-title>
                <hr>
                <mat-card-content>
                    <ul class="show-headline">
                            <a href='http://bit.ly/2uv10T9'><li>FRI July 28th 2017 LBMX July Monthly – Madam B / D Horton / OZU / A DJ Called Phlip at Syndicate
                            Lounge
                        </li></a>
                        <a href='https://www.secretstages.net/'><li>FRI & Sat Aug 4th & 5th Secret Stages Music Discovery Festival in Birmingham’s Loft district downtown.
                            LOBOTOMIX partners with Secret Stags every year to program and manage all the Hip Hop and Graffiti
                            at the festival.</li></a>
                        <a href='http://bit.ly/2Cbg22d'><li>FRI Aug 18th 2017 LBMX August Monthly – Kakashi / Youngblood / RDFND feat. D Gut, K1NG ELJAY & Mel.
                            Crozby / with A DJ Called Phlip on the 1s & 2s at Syndicate Lounge</li></a>
                        <a href='http://bit.ly/2BkiB4I'><li>FRI Sep 29th LBMX September Monthly – Erthling / Kenya Latrice / The Monastery / with DJ Rahdu on
                            the 1s & 2s at Syndicate Lounge</li></a>
                        <a href='http://bit.ly/2zac3DP'><li>FRI Oct 27th 2017 LBMX October Monthly – No Suh Foster / Eugenius / T-Prince / with A DJ Called Phlip
                            on the 1s & 2s at Syndicate Lounge</li></a>
                        <a href='http://bit.ly/2AiePVA'><li>FRI Nov 24th 2017 (Black Friday) – LBMX 8 Year Anniversary at Saturn 10 acts / 2 stages / 7 hours
                            of Hip Hop in a mini-fest atmosphere.</li></a>
                        <a href='http://bit.ly/2z9raxr'><li>Dec. 15th 2017 LBMX presents Lingua Franca / Cutt Dogg / Adj. / Dj Rahdu</li></a>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> -->
    <!-- <div class="item twitter">
            <ng4-twitter-timeline class="timeline" [dataSrc]="{ sourceType: 'profile', screenName: 'IndieGroundEnt' }" [opts]="{tweetLimit: 6}"></ng4-twitter-timeline>
                
        </div> -->


    <!-- <div class="box b7">7</div>
            <div class="box b8">8</div>
            <div class="box b9">9</div>
            <div class="box b10">10</div>
            <div class="box b11">11</div>
            <div class="box b12">12</div> 
            <div class="box b13">13</div> -->