<mat-toolbar class="navbar">
    <span class="nav-span">
        <button mat-button class="nav-buttons" routerLink='/'>Home</button>
        <button mat-button class="nav-buttons" routerLink='/artists'>Artists</button>
        <button mat-button class="nav-buttons" routerLink='/music'>Music</button>
        <button mat-button class="nav-buttons" routerLink='/shows'>Shows</button>
        <button mat-button class="nav-buttons" routerLink='/contact-us'>Contact Us</button>
    </span>
</mat-toolbar>
<div class="b3 more item">
    <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer class="example-sidenav" mode="side">
              <p>ARTISTS</p>
              <hr>
              <div class="people">
                <button mat-button routerLink='/single-artist'>Love Moor</button>
                <button mat-button routerLink='/kenny-loften'>Kenny Loften</button>
                <button mat-button routerLink='/richard-daniel'>Richard Daniel</button>
                <button mat-button routerLink='/lauren-michel'>Lauren Michel</button>
                <button mat-button routerLink='/gi-magus'>G.I. Magus</button>
                <button mat-button routerLink='/club-am'>C1ub:A.M.</button>
             </div>
            </mat-drawer>
          
            <div class="example-sidenav-content">
                <p>Want To See and Hear More?</p>
              <button type="button" mat-button (click)="drawer.toggle()">
                Click Here
              </button>
            </div>
          
          </mat-drawer-container>
</div>

<div class="container">

<a href="/single-artist">
<div class="profile-pic">
      <img  src="http://bit.ly/2C4aA0t">
  <div class="middle">
    <div class="text"> Love Moor</div>
  </div>
</div>
 </a>

  <a href="/club-am">
    <div class="profile-pic">
      <img src="http://bit.ly/2AChZrt">
      <div class="middle">
        <div class="text">C1UB A.M.</div>
      </div>
    </div>
  </a>

  <a href="/kenny-loften">
    <div class="profile-pic">
      <img  src="http://bit.ly/2nXqJCy">
      <div class="middle">
        <div class="text">Kenny Lofton</div>
      </div>
    </div>
  </a>

  <a href="/richard-daniel">
    <div class="profile-pic">
      <img src="http://bit.ly/2AVumf6">
      <div class="middle">
        <div class="text">Richard Daniel</div>
      </div>
    </div>
  </a>

  <a href="/gi-magus">
    <div class="profile-pic">
      <img src="http://bit.ly/2C50FHJ">
      <div class="middle">
        <div class="text">G.I Magus</div>
      </div>
    </div>
  </a>

  <a href="/lauren-michel">
    <div class="profile-pic">
      <img src="http://bit.ly/2AmNj9C">
      <div class="middle">
        <div class="text">Lauren Michel</div>
      </div>
    </div>
  </a>

</div>

  <!-- soundcloud/spotify apis-->
<hr>
<div class="music-videos">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/jHR83IXL4L8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/afTStQjOmdk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/JDef8XdncJc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/bXHUHiUcthw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/943bzGmAypk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/bIPO8VNgjWo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>
