<mat-toolbar style='color: #D09683'>
  <mat-toolbar-row>
    <span class="feature">Latest Albums</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<iframe class='soundcloud-player' width="75%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/344433875&amp;color=%23e44870&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true">
</iframe>
<br>
<iframe class='soundcloud-player' width="75%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/349480743&amp;color=%23302c2a&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
<br>
<iframe class='soundcloud-player' width="75%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/262312960&amp;color=%233f9494&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
<br>

<br>

<br>

<br>

<br>