<div class="b3 more item">
    <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer class="example-sidenav" mode="side">
              <p>ARTISTS</p>
              <hr>
              <div class="people">
                <button mat-button routerLink='/single-artist'>Love Moor</button>
                <button mat-button routerLink='/kenny-loften'>Kenny Loften</button>
                <button mat-button routerLink='/single-artist'>Eugenius Neutron</button>
                <button mat-button routerLink='/richard-daniel'>Richard Daniel</button>
                <button mat-button routerLink='/lauren-michel'>Lauren Michel</button>
                <button mat-button routerLink='/gi-magus'>G.I. Magus</button>
                <button mat-button routerLink='/single-artist'>K.L.U.B. Monsta</button>
                <button mat-button routerLink='/single-artist'>Phrasure</button>
                <button mat-button routerLink='/club-am'>C1ub:A.M.</button>
                <button mat-button routerLink='/single-artist'>Lovelight The Messenger</button>
             </div>
            </mat-drawer>
          
            <div class="example-sidenav-content">
                <p>Want To See and Hear More?</p>
              <button type="button" mat-button (click)="drawer.toggle()">
                Click Here
              </button>
            </div>
          
          </mat-drawer-container>
</div>